<h1>Listing offertes</h1>

<table>
  <thead>
    <tr>
      <th>Onderwerp</th>
      <th>Datum</th>
      <th>Status</th>
      <th>Offerte nummer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offertes.each do |offerte| %>
      <tr>
        <td><%= offerte.onderwerp %></td>
        <td><%= offerte.datum %></td>
        <td><%= offerte.status %></td>
        <td><%= offerte.offerte_nummer %></td>
        <td><%= link_to 'Show', offerte %></td>
        <td><%= link_to 'Edit', edit_offerte_path(offerte) %></td>
        <td><%= link_to 'Destroy', offerte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offerte', new_offerte_path %>
